* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: var(--white);
}