.header {
  position: absolute;
  top: 0;
  height: var(--fixed-height);
  display: flex;
  justify-content: space-between;
  padding-inline: 10%;
  align-items: center;
  background-color: var(--primary-color);
  width: 100vw;
}

.header h1 {
  font-size: 1.8rem;
  color: var(--white);
}
